<div class="container">
  <div class="list-container">
    <h2>Categories List</h2>
    <button mat-raised-button color="primary" (click)="createCategory()">ADD</button>
    <table mat-table [dataSource]="categories">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let category"> {{ category.categoryId }} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> TITLE </th>
        <td mat-cell *matCellDef="let category"> {{ category.title }} </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> DESCRIPTION </th>
        <td mat-cell *matCellDef="let category"> {{ category.description }} </td>
      </ng-container>
      <ng-container matColumnDef="css_color">
        <th mat-header-cell *matHeaderCellDef> CSS COLOR </th>
        <td mat-cell *matCellDef="let category"> {{ category.css_color }} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> ACTIONS </th>
        <td mat-cell *matCellDef="let category">
          <button mat-raised-button color="primary" (click)="updateCategory(category.categoryId)">UPDATE</button>
          <button mat-raised-button color="warn" (click)="deleteCategory(category.categoryId)">DELETE</button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<div *ngIf="loading$ | async" class="spinner-overlay">
  <mat-spinner diameter="100"></mat-spinner>
</div>