.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.category-container {
  padding: 2px 16px;
  margin-bottom: 1em;
}

.badge {
  color: black;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px 10px;
}

.container { 
  position: absolute;
  left: 10%;
  right: 10%;
}

.elems-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.spinner-overlay {
  background-color: lightgrey;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  pointer-events: none;
  opacity: 0.8;
}

.cards-container {
  text-align: center;
}

mat-card-header {
  display: block;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mat-success {
  color: #155724
}