.cards-container {
  text-align: center;
}

mat-card-header {
  display: block;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-success {
  color: #155724
}

.category-container {
  display: flex;
  justify-content: center;
  align-items: center;
}