<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div class="container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-container">
    <app-input-email label="email" [control]="email" [placeholder]="'Enter your email'">
    </app-input-email>
    <app-input-password label="password" [control]="password" [placeholder]="'Enter your password'">
    </app-input-password>
    <section>
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </section>
  </form>
</div>
<div *ngIf="loading$ | async" class="spinner-overlay">
  <mat-spinner diameter="100"></mat-spinner>
</div>