<div style="margin-left: auto; margin-right: auto">
  <p id="categoryFeedback"></p>
</div>

<div class="container">
  <h1>Category form</h1>

  <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" class="form-container">
     <!-- Title -->
    <app-input-text label="title" [control]="title" [placeholder]="'Title: '">
    </app-input-text>

    <!-- Description -->
    <app-input-text label="description" [control]="description" [placeholder]="'Description: '">
    </app-input-text>

    <!-- Css color -->
    <app-input-text label="css" [control]="css_color" [placeholder]="'Css color: '">
    </app-input-text>

    <section>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </section>
  </form>
</div>
<div *ngIf="loading$ | async" class="spinner-overlay">
  <mat-spinner diameter="100"></mat-spinner>
</div>