<div style="margin-left: auto; margin-right: auto">
  <p id="postFeedback"></p>
</div>

<div class="container">
  <h1>Post form</h1>

  <form [formGroup]="postForm" (ngSubmit)="savePost()" class="form-container">
    <!-- Title -->
    <app-input-text label="title" [control]="title" [placeholder]="'Title: '">
    </app-input-text>

    <!-- Description -->
    <app-input-text label="description" [control]="description" [placeholder]="'Description: '">
    </app-input-text>

    <!-- Publication date -->
    <app-input-date label="publication" [control]="publication_date" [placeholder]="'Publication date: '">
    </app-input-date>

    <!-- Categories -->
    <app-input-select label="categories" [categories]="categoriesList" [control]="categories" [placeholder]="'Choose categories '">
    </app-input-select>

    <section>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </section>
  </form>
</div>
<div *ngIf="loading$ | async" class="spinner-overlay">
  <mat-spinner diameter="100"></mat-spinner>
</div>