

<!-- NO AUTH REQUIRED -->
<mat-toolbar *ngIf="showNoAuthSection" class="toolbar-container">
  <mat-toolbar-row>
    <button mat-raised-button color="primary" (click)="dashboard()">Dashboard</button>
    <button mat-raised-button color="primary" (click)="home()">Home</button>
    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <button mat-raised-button color="primary" (click)="register()">Register</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- AUTH REQUIRED -->
<mat-toolbar *ngIf="showAuthSection" class="toolbar-container">
  <mat-toolbar-row>
    <button mat-raised-button color="primary" (click)="dashboard()">Dashboard</button>
    <button mat-raised-button color="primary" (click)="home()">Home</button>
    <button mat-raised-button color="primary" (click)="adminPosts()">Admin posts</button>
    <button mat-raised-button color="primary" (click)="adminCategories()">Admin categories</button>
    <button mat-raised-button color="primary" (click)="profile()">Profile</button>
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>