<div style="margin-left: auto; margin-right: auto">
  <p id="profileFeedback"></p>
</div>

<div class="container">
  <h1>Profile</h1>

  <form [formGroup]="profileForm" (ngSubmit)="updateUser()" class="form-container">
    <!-- Name -->
    <app-input-text label="name" [control]="name" [placeholder]="'Enter your name'">
    </app-input-text>

    <!-- Surname1 -->
    <app-input-text label="surname" [control]="surname_1" [placeholder]="'Enter your first surname'">
    </app-input-text>

    <!-- Surname2 -->
    <app-input-text label="surname" [control]="surname_2" [placeholder]="'Enter your second surname'">
    </app-input-text>

    <!-- Alias -->
    <app-input-text label="alias" [control]="alias" [placeholder]="'Enter your alias'">
    </app-input-text>

    <!-- Birth date -->
    <app-input-date label="birth" [control]="birth_date" [placeholder]="'Enter your birth date'">
    </app-input-date>

    <!-- Email -->
    <app-input-email label="email" [control]="email" [placeholder]="'Enter your email'">
    </app-input-email>

    <!-- Password -->
    <app-input-password label="password" [control]="password" [placeholder]="'Enter your password'">
    </app-input-password>

    <section>
      <button mat-raised-button color="primary" type="submit">Update</button>
    </section>
  </form>
</div>
<div *ngIf="loading$ | async" class="spinner-overlay">
  <mat-spinner diameter="100"></mat-spinner>
</div>